@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout_ForgotPassword.cshtml";
}

<form class="login100-form validate-form">
    <span class="login100-form-title p-b-59">
        Forgot Password
    </span>



    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
        <span class="label-input100">Email</span>
        <input class="input100" type="password" id="email" name="email" placeholder="Email addess...">
        <span class="focus-input100"></span>
    </div>


    <div class="flex-m w-full p-b-33">
       


    </div>

    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn">
                Submit
            </button>
        </div>

        <a href="/login" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
            Sign In
            <i class="fa fa-long-arrow-right m-l-5"></i>
        </a>
    </div>

  
</form>