@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row">
    <div class="col-md-8">
        <div class="font-bold m-b-sm">
            Project Detail's
        </div>
        <div class="hpanel">
            <div class="panel-body">

                <div class="pull-right">
                    <button class="btn btn-success btn-xs">  Active</button>
                    <button class="btn btn-default btn-xs"> <i class="fa fa-pencil"></i> Edit</button>
                </div>
                <h2 class="m-t-none"></h2>
                <small class="projectDetails">
                    . . . . . .
                </small>
                <div class="small m-t-xs">
                    <strong>Assign Date:</strong><p class="assignDate"></p><br />
                    <strong>Deadline Date:</strong><p class="endDate"></p><br />
                </div>



                <div class="m-t-md">
                    <canvas id="lineOptions" height="60"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="font-bold m-b-sm">
            Project Participants
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="chat-users">

                    <div class="users-list">
                        <div class="hpanel">
                            <div class="panel-body text-center">
                                <img alt="logo" class="img-circle img-small" src="~/Template/HomerPro/images/a1.jpg">
                                <div class="m-t-sm">
                                    <strong>Max Simson</strong>
                                    <p class="small">UI Designer</p>
                                </div>
                            </div>
                        </div>
                        <div class="chat-user">
                            <span class="pull-right label label-success">Online</span>
                            <img class="chat-avatar" src="images/a3.jpg" alt="">
                            <div class="chat-user-name">
                                <a href="#">Janet Smith</a>
                            </div>
                        </div>
                        <div class="chat-user">
                            <img class="chat-avatar" src="~/Template/HomerPro/images/a1.jpg" alt="">
                            <div class="chat-user-name">
                                <a href="#">Monica Smith</a>
                            </div>
                        </div>
                        <div class="chat-user">
                            <span class="pull-right label label-success">Online</span>
                            <img class="chat-avatar" src="~/Template/HomerPro/images/a2.jpg" alt="">
                            <div class="chat-user-name">
                                <a href="#">Michael Smith</a>
                            </div>
                        </div>


                    </div>

                </div>



            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="font-bold m-b-sm">
            Project Report
        </div>
        <div class="hpanel">
            <div class="panel-body">
                //Disini Persentase pengerjaan project menggunakan Apex Chart 
            </div>
        </div>
    </div>
</div>