@{
    Layout = null;
}
<div class="modal fade" id="ProjectModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal title</h4>
                <small class="font-bold">@ViewBag.IdProject</small>
            </div>
            <div class="modal-body ">
                @Html.Partial("ProjectDetails/View")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var obj = new Object();
        obj.Id = '@ViewBag.IdProject';
        console.log(obj);
            $.ajax({
                url: '/Projects/GetById',
                type: 'POST',
                data: obj

            }).done((respond) => {
                console.log("Projects Details");
                console.log(respond);
                $('.modal-title').text(respond.name);
                $('.projectDetails').text(respond.details);
                $('.assignDate').text(respond.assignDate);
                $('.endDate').text(respond.endDate);
                $('.button-action').html(`<button class="btn btn-default btn-xs" onClick="openmodaledit('${respond.id}')"><i class="fa fa-pencil"></i> Edit Project</button>`)







                $('.participantButtonGroub').html(`<button class="btn btn-default btn-xs" onclick="ParticipantdataCall('${respond.id}')" ><i class="fa fa-plus"></i></button>`);
                if (respond.assignEmployee.length != 0) {
                    $('.participantGroub').removeClass('hide');
                    let data = "";
                    $.each(respond.assignEmployee, (k, v) => {
                        console.log()
                        data += EmployeesWasAssign(v.employee.firstName, v.position);
                    })
                        $('.assign_list').html(data)
                } else {
                    $('.participantGroub').addClass('hide');
                }

            }).fail((e) => {
                console.log(e);
            });
        
    });

    const EmployeesWasAssign = (name,position) => {
        return `        <div class="chat-user">
                            <span class="pull-right label label-success">${position}</span>
                            <img class="chat-avatar" src="https://raw.githubusercontent.com/ArjunAtlast/Profile-Card/master/assets/john-doe.png" alt="">
                            <div class="chat-user-name">
                                <a href="#">${name}</a>
                            </div>
                        </div>`

    }

</script>


