@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<form class="login100-form validate-form">
    <span class="login100-form-title p-b-59">
        @ViewData["WelComeTitle"]
    </span>



    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
        <span class="label-input100"></span>
        <input class="input100" type="text" name="email" placeholder="Email addess..." id="email">
        <span class="focus-input100"></span>
    </div>



    <div class="wrap-input100 validate-input" data-validate="Password is required">
        <span class="label-input100"></span>
        <input class="input100" id="password" type="password" name="pass"  placeholder="Password...">
        <span class="focus-input100"></span>
    </div>




    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button type="button" class="login100-form-btn signbutton">
                Sign In
            </button>
        </div>

        <a href="/signup" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
            Sign Up
            <i class="fa fa-long-arrow-right m-l-5"></i>
        </a>
    </div>


    <u>
        <a href="/forgotpassword" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
            Forgot Password

        </a>
    </u>
</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            var src ='@ViewData["src"]';
            console.log(src);
            if (src == 'logout') {
                poUPAlertSweet("success", "Logout Berhasil", "", "center");
                $('#email').focus();
            } else {
                console.log("dalam keadaan Login");
            }
            $('.signbutton').click(() => {
                var data = new Object();
                data.Password = $('#password').val();
                data.Username = $('#email').val();
                console.log("Data Form");

                console.log(data);

                $.ajax({
                    url: '/Accounts/AuthLogin',
                    type: 'post',
                    data: data,
                    beforeSend: (e) => {
                        console.log("Before Login");
                        $('.signbutton').html("Loading . .");
                        $('.signbutton').attr("disabled", true)
                    },

                }).done((respond) => {
                    $('.signbutton').html("Sign In");
                    $('.signbutton').attr("disabled", false);
                    if (respond != null) {
                        console.log(respond);
                        switch (respond.result) {
                            case 1:
                                poUPAlertSweet("success", "Berhasil Login", "", "center");
                                window.location.href = "/Dashboard";

                                break;
                            case 2:
                                poUPAlertSweet("error", "Gagal", respond.message, "center")
                                break;
                            case 3:
                                poUPAlertSweet("error", "Gagal", respond.message , "center")
                                break;
                            default:
                                poUPAlertSweet("error", "Gagal", respond.message + " \nEror: " + respond.errors, "center")
                                break;
                        }

                    }
                }).fail((e) => {
                    poUPAlertSweet("error", "Gagal", JSON.stringify(e), "center")
                });
            });
        });
    </script>
}